<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OllieJC</title>
    <meta property="og:title" content="OllieJC" />
    <meta property="og:locale" content="en_GB" />
    <meta name="description" content="Security person with @CabinetOfficeUK trying to make UK gov more secure" />
    <meta property="og:description" content="Security person with @CabinetOfficeUK trying to make UK gov more secure" />
    <link rel="canonical" href="http://www.olliejc.uk/" />
    <meta property="og:url" content="http://www.olliejc.uk/" />
    <meta property="og:site_name" content="OllieJC" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="OllieJC" />
    <script type="application/ld+json">
    {"@context":"https://schema.org","@type":"WebSite","description":"Security person with @CabinetOfficeUK trying to make UK gov more secure","headline":"OllieJC","name":"OllieJC","url":"http://www.olliejc.uk/"}</script>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <section>
        {{ content }}
      </section>
    </div>
  </body>
</html>
