<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OllieJC</title>
    <meta property="og:title" content="OllieJC" />
    <meta property="og:locale" content="en_GB" />
    <meta name="description" content="Security person with @CabinetOfficeUK trying to make UK gov more secure" />
    <meta property="og:description" content="Security person with @CabinetOfficeUK trying to make UK gov more secure" />
    <link rel="canonical" href="http://www.olliejc.uk/" />
    <meta property="og:url" content="http://www.olliejc.uk/" />
    <meta property="og:site_name" content="OllieJC" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="OllieJC" />
    <meta http-equiv="Content-Type" content="text/html" />
    <meta http-equiv="X-Frame-Options" content="DENY" />
    <meta http-equiv="Strict-Transport-Security" content="max-age=31536000; includeSubDomains; preload" />
    <meta http-equiv="X-Content-Type-Options" content="nosniff" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'" />
    <meta http-equiv="Referrer-Policy" content="strict-origin-when-cross-origin" />
    <meta http-equiv="Cache-Control" content="public, max-age=60" />
    <meta http-equiv="Permissions-Policy" content="geolocation=(), microphone=(), camera=(), payment=(), xr-spatial-tracking=(), magnetometer=(), payment=(), sync-xhr=()" />
    <script type="application/ld+json">
    {"@context":"https://schema.org","@type":"WebSite","description":"Security person with @CabinetOfficeUK trying to make UK gov more secure","headline":"OllieJC","name":"OllieJC","url":"http://www.olliejc.uk/"}</script>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <section>
        {{ content }}
      </section>
    </div>
  </body>
</html>
